.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.button{
  color: blue;
  font-weight: 500;
}

.wrapper{
  margin-left: 200px;
  margin-top: 200px;
}

.counter{
  color: brown;
  font-weight: 500;
  padding-right: 50px;
}